@media (max-width: 576px){
#name{
    font-size: 3rem;
}
.description{
    max-width: 330px;
}

#proyectos{
    padding: 0;
}
}
@media (max-width: 768px){
    .header{
        align-items: center;
    }
    #clima{
        text-align: center;
    }
.grey{
        text-align: center;
    }
    h1{
        font-size: 4rem;
        text-align: center;
    }
    h2{
        font-size: 2.35rem;
    }
    .divider{
        width: calc(100vw - 28vw);
    }
    .description-personal{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .links{
        width: 100%;
    }
    footer{
        gap: 40px;
    }
}